footer {
  background: $blue;
  padding: $gutter;

  .footer-container {

    small {
      display: block;
      margin: $gutter 0;
      color: $white;
    }

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      list-style: none;

      > * { flex: 0 1 auto; }

      li {
        margin: $gutter;

        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}
