header {
  .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: $gutter;

    > * { flex: 0 1 auto; }

    .cjdoula-logo {
      margin: $gutter 0;
      width: auto;
      height: 100px;
    }

    .header-title {
      margin: 0 $gutter;
      width: 100%;
      text-align: center;
      color: $blue;
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $gutter;
    padding: 0;
    list-style: none;

    > * { flex: 0 1 auto; }

    li {
      margin: 10px;

      a {
        text-decoration: none;
        color: $blue;
      }

      &:first-child {
        margin: 10px 10px 10px 0;
      }

      &:last-child {
        margin: 10px 0 10px 10px;
      }
    }
  }
}

@media screen and (min-width: #{$screen-tablet}) {
  header {
    .header-container {
      .cjdoula-logo {
        height: 150px;
      }
    }
  }
}
