section {
  margin: 0 $gutter;

  .page-header {
    display: none;
  }

  .link-title {
    margin-top: 30px;
  }
}

@media screen and (max-width: #{$screen-tablet - 1}) {
  section {
    margin: 0 $gutter;
  }
}
