$white: #fff;
$gray-light: #d3d4d4;
$gray-dark: #a7a9ac;
$black: #000;

// $copy-light: $white;
// $copy-gray: $gray-light;
// $copy-dark: $black;

$red: #b85a5a;
$yellow: #b8985a;
$blue: #42557b;
$green: #489448;

$copy: #555;
$copy-dark: #333;

$border-light: #999;
$border-red: #e29e9e;

$nav-hover-bg: #e2cb9e;

$background-yellow: #fff5e3;

$background-opacity: rgba(0, 0, 0, 0.55);
