$container-tablet: 90vw;
$container-tablet-lg: 810px;
$container-desktop: 1080px;
$container-desktop-lg: 1680px;

$screen-tablet: 600px;
$screen-tablet-lg: 900px;
$screen-desktop: 1200px;
$screen-desktop-lg: 1800px;

$gutter: 15px;

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$script: "Playlist Script", "Brush Script MT", cursive;

$box-shadow-light: 5px 5px 5px 0 rgba($black, 0.25);
$box-shadow: 6px 6px 10px 0 rgba($black, 0.3);
$box-shadow-dark: 6px 6px 10px 0 rgba($black, 0.5);

$border-radius: 8px;
