.circle-img {
  img {
    float: right;
    margin: $gutter;
    border-radius: 50%;
    width: 100px;
    height: auto;
  }
}

@media screen and (min-width: #{$screen-tablet}) {
  .circle-img {
    img {
      width: 150px;
    }
  }
}
