.medium-img {
  position: relative;

  img {
    width: 50%;
    height: auto;
  }

  .tag-line {
    position: absolute;
    bottom: $gutter;
    background: $background-opacity;
    padding: $gutter 0;
    width: 50%;
    text-align: center;
    color: $background-yellow;
  }
}
