.page-img {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .tag-line {
    position: absolute;
    bottom: $gutter;
    margin: 0;
    background: $background-opacity;
    padding: 7.5px 0;
    width: 100%;
    text-align: center;
    line-height: 1.25;
    color: $background-yellow;
  }
}
